body {
  /*padding-top: 90px;*/
}

#target{
  width: 100%;
  height: 100%;
}

.login-close-text{display: none}

#login-buttons{
  width: 274px;
  position: absolute;
  margin-left: 40%;
  margin-right: calc(40% + 12px);
  margin-top: 15%;
}

.nav-link:hover{
  cursor: pointer;
}